__pycache__
resolved_log.csv
*.key
*.html 
*.adi
old
wt8p.*
tofix.csv
.gitignore
samples
gpx_extract.csv
gpx_extract.gpx
adif_extract.csv
gsak_counties.db*
*.png
liberty.csv reco.*
temp
us_counties_light.geojson
.gitignore
# Ignore vim turds
*.swp
# MAP API keys
map.cfg
